Makefile
bar/Makefile
bar/Makefile.depend
bar/archive_format.c
bar/archive_format.h
bar/archive_format_const.h
bar/bar
bar/bar-debug
bar/bar-keygen
bar/config.h
bar/debug/
bar/errors.c
bar/errors.h
bar/index_definition.h
bar/index_definition.c
bar/po/Makefile
bar/release/
bar/test/Makefile
barcontrol/Makefile
barcontrol/barcontrol
barcontrol/barcontrol-linux.jar
barcontrol/barcontrol-linux_64.jar
barcontrol/barcontrol-windows.jar
barcontrol/barcontrol.cmd
barcontrol/classes/
barcontrol/src/Config.java
barcontrol/src/BARException.java
binutils
bzip2
c-ares
config.log
config.status
curl
doc/Makefile
doc/images/archivename-editor-large.png
doc/images/archivename-editor-small.png
doc/images/archivename-editor.png
doc/images/entries-large.png
doc/images/entries-small.png
doc/images/entries.png
doc/images/filters+mounts-large.png
doc/images/filters+mounts-small.png
doc/images/filters+mounts.png
doc/images/images-large.png
doc/images/images-small.png
doc/images/images.png
doc/images/persistence-large.png
doc/images/persistence-small.png
doc/images/persistence.png
doc/images/restore-dialog-large.png
doc/images/restore-dialog-small.png
doc/images/restore-dialog.png
doc/images/restore-large.png
doc/images/restore-small.png
doc/images/restore.png
doc/images/schedule-large.png
doc/images/schedule-small.png
doc/images/schedule.png
doc/images/scripts-large.png
doc/images/scripts-small.png
doc/images/scripts.png
doc/images/server-commands-large.png
doc/images/server-commands-small.png
doc/images/server-commands.png
doc/images/server-general-large.png
doc/images/server-general-small.png
doc/images/server-general.png
doc/images/server-servers-large.png
doc/images/server-servers-small.png
doc/images/server-servers.png
doc/images/server-verbosity+log-large.png
doc/images/server-verbosity+log-small.png
doc/images/server-verbosity+log.png
doc/images/status-large.png
doc/images/status-small.png
doc/images/status.png
doc/images/storage-large.png
doc/images/storage-small.png
doc/images/storage.png
epm.list
extern/
gmp
gnutls
icu
libcdio
libgcrypt
libgpg-error
libiconv
libidn2
libssh2
lz4
lzo
mtx
mxml
nettle
openssl
pcre
pthreads-w32
sqlite
xdelta3
xz
zlib
zstd

files
build
bar/build

trash