# barcontrol configuration

# program pause operation
pause-create = yes
pause-storage = no
pause-restore = yes
pause-index-update = no

# server=<name>
server = localhost

#server-tls-port = <port>
#server-password = <password>

# server-ca-file-name = <file name>
# job-list-update-time = <time [ms]>
# current-job-update-time = <time [ms]>
