[ req ]
distinguished_name     = req_distinguished_name
attributes             = req_attributes
x509_extensions        = v3_ca
prompt                 = no

[ req_distinguished_name ]
C                      = NA
ST                     = none
L                      = none
O                      = BAR server
OU                     = none
CN                     = localhost
emailAddress           = none

[ req_attributes ]

[ v3_ca ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer:always
basicConstraints       = CA:true
