[Unit]
Description=BAR server
After=network.target remote-fs.target ypbind.service

[Service]
Type=notify
PIDFile=/run/bar.pid
ExecStart=/usr/bin/bar --server --pid-file /var/run/bar.pid
ExecReload=/usr/bin/kill -HUP $MAINPID
TimeoutSec=180
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
